/* Estilo para o body */
body {
    background-color: #f0e68c; /* cor de fundo que combina com a lousa, como um tom pastel */
    font-family: 'Chalkduster', 'Comic Sans MS', cursive; /* Fonte que parece escrita por giz */
    margin: 0;
    padding: 0;
}

/* Estilo para o header */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Estilo para a section com a lousa */
section {
    background-color: #006400; /* verde de lousa */
    border: 10px solid #8b4513; /* borda marrom para imitar a moldura da lousa */
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

div#resultado {
    text-align: left;
    padding-left: 70px; /* Adiciona espaço à esquerda do conteúdo */
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Estilo para os divs dentro da lousa */
section div {
    margin: 10px 0;
}

/* Estilo para o footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
